/*=============================================*/
/*NAVBAR*/
/*=============================================*/

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

a {
    margin-left: 20px;
    color: #333;
}

.lang-bar {
    font-size: 14px;
}

.mainmenu-bar {
    font-size: 18px;
}

.navbar-text {
    margin-top: 0;
    margin-right: 5px;
}

.navbar {
    max-width: 75%;
    padding: 20px;
    border: 0;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

/*=============================================*/
/*HERO BANNER*/
/*=============================================*/

.text-container {
    padding-right: 40%;
    padding-left: 20px;
    margin-left: auto;
}

.jumbotron {
    background-image: url("http://localhost:9001/assets/images/banner-img.jpg");
    background-size: 100%;
}

h1, p {
    color: whitesmoke !important;
}

.button {
    color: whitesmoke;
    padding: 15px 30px;
    background: #333;
    border: 0px;
    border-radius: 50px;
}