/*=============================================*/
/*NAVBAR*/
/*=============================================*/

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    white-space: nowrap;
}

a {
    position: relative;
    margin-left: 20px;
    margin-right: 5px;
    color: #333;
}

.fa {
    margin-top: 3px;
    margin-right: 10px;
}

.lang-bar {
    font-size: 14px;
    letter-spacing: 1px;
}

.mainmenu-bar {
    margin-left: 20px;
    font-size: 18px;
    letter-spacing: 0.1px;
}

.navbar-text {
    margin-top: 0;
    margin-right: 5px;
    font-family: Roboto, sans-serif;
}

.navbar-link:hover {
    color: #ec6800 !important;
}

.navbar-brand {
    padding-top: 15px;
}

.navbar {
    max-width: 75%;
    padding-bottom: 20px;
    padding-top: 10px;
    border: 0;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.icon {
    margin-top: 5px;
}

.navbar-toggle {
    margin: 5px 35px 30px 30px;
    padding: 0;
    border: 0;
}

/*=============================================*/
/*HERO BANNER*/
/*=============================================*/

.text-container {
    padding-right: 40%;
    padding-left: 20px;
    margin-left: auto;
}

.jumbotron {
    background-image: url("http://localhost:9001/assets/images/banner-img.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

h1, p {
    color: whitesmoke !important;
    font-family: Roboto, sans-serif;
}

p {
    font-size: 25px;
}

.button {
    transition: all 0.5s ease;
    color: whitesmoke;
    padding: 15px 35px;
    background: #333;
    border: 0;
    border-radius: 50px;
    font-family: Roboto, sans-serif;
}

.button:hover {
    transition: all 0.5s ease;
    -webkit-box-shadow:inset 0 0 0 3px whitesmoke;
    -moz-box-shadow:inset 0 0 0 3px whitesmoke;
    box-shadow:inset 0 0 0 3px whitesmoke;
    background: none;
}


@media (max-width: 1300px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
        min-width: 96px;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 8px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
        border: 0;
    }
    .collapsing {
        border: 0;
    }
    .mainmenu-text {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-top: 60px;
        margin-bottom: 0;
    }
}

@media (max-width: 990px) {
    h1 {
        font-size: 35px !important;
    }
    .jumbotron-text {
        font-size: 20px !important;
    }
}

@media (max-width: 767px) {
    .navbar {
        max-width: 100% !important;
        margin: 0 !important;
    }
    h1 {
        font-size: 30px !important;
    }
    p {
        font-size: 12px;
    }
    .jumbotron-text {
        font-size: 15px !important;
    }
    .jumbotron {
        background-size: cover;
        background-position: right;
    }
    .button {
        font-size: 11px !important;
        padding: 10px 23px;
    }
    .navbar-brand {
        margin-left: 5px;
    }
    .logo {
        padding-top: 5px;
        width: 141px;
        height: 45px;
    }
    .mainmenu-bar {
        font-size: 14px;
    }
    .collapsing {
        min-width: 96px;
    }
    .container-fluid {
        padding: 0;
    }
    .menu {
        margin: 0;
    }
    .text-container {
        padding-left: 10px;
    }
}

@media (max-width: 430px) {
    .navbar-collapse {
        padding-left: 30%;
        padding-right: 0;
        overflow-x: hidden;
    }
}