ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

a {
    margin-left: 20px;
    color: #333;
}

.lang-bar {
    font-size: 14px;
}

.mainmenu-bar {
    font-size: 18px;
}

.navbar-text {
    margin-top: 0;
    margin-right: 5px;
}

.navbar {
    max-width: 75%;
    padding: 20px;
    border: 0;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
}